@page
@model AppIndexModel
@{
    ViewData["Title"] = "Food2U Menu";
}
<div>
    <h1>Food2U</h1>
</div>
<div>
    <ul>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-page="/Application/BrowseRestaurants">View Restaurants</a>
        </li>
        <li>
            <p>View Menus</p>
        </li>
        <li>
            <p>Order Status</p>
        </li>
        <li>
            <p>Account Settings</p>
        </li>
        <li>
            <p>Logout</p>
        </li>
    </ul>
</div>
